{
	"root": true,
	"extends": "eslint-config-vipul-base",
	"rules": {
		// Overrides
		"no-tabs": "off",
		"camelcase": [
			"error",
			{
				"properties": "never",
				"ignoreDestructuring": true,
				"allow": []
			}
		]
	},

	// Rules limited to specific locations
	"overrides": []
}
