{
  "root": true,
  "extends": "eslint-config-vipul-base",
  "rules": {
    // Overrides
    "func-style": "off",
    "max-len": ["error", 500, { "ignoreUrls": true }],
    "camelcase": ["error", { "properties": "never", "ignoreDestructuring": true }],
    "no-useless-catch": "off",
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }]
  },

  // Rules limited to specific locations
  "overrides": []
}
